
*{
	font-family: 'Montserrat';
}

nav{
	background: #bde0fe;
}

#logo{
	border-radius: 50%;
}

header h2{
	text-align: center;
	margin: 40px;
}

#img-1{
	position: relative;
	margin-bottom: 30px;
	left: 500px;
}

#img-1, #img-2, #img-3, #img-4, #img-5{
	width: 20%;
}

aside img{
	position: relative;
	display: block;
	left: 800px;
	margin-bottom: 25px;
}

aside{
	margin-top: -1500px;
}

.container p{
	width: 50%;
}

footer{
	margin-top: 295px;
}

li, footer p{
	font-size: 20px;
}